.container {
    display: inline-block;
    width: 91%;
    border: 2px solid #cc0066;
    border-radius: 2px;
    padding: 2%;
    margin: 2%;
    text-align: center;
}

.image {
    width: 50%;
    float: left;
}

button {
    background-color: red;
    color: white;
    padding: 1%;
    width: 25%;
    height: 40px;
    border-radius: 6px;
    border:none;
}