.navigation {
    width: 100%;
    height: auto;
    background-color:  #cc0066;
    color: white;
    position: fixed;
}

.span {
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    /* float: right;
    margin-top: 0.5%;
    margin-right: 1%; */
}

.span:hover {
    color: white;
    text-decoration: none;
    background-color:  #99004d;
    font-weight: bold;
}