.form {
    border: 3px solid #cc0066;
    border-radius: 6px;
    padding: 30px 5%;
    margin: 0 30%;
    text-align: center;
}

textarea {
    border:1px solid #234465;
    padding: 1%;
    margin-left: 9%;
    margin-bottom: 3%;
    width: 72%;
    border-radius: 6px;
}